@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scroll-behavior: smooth;
  }

  html {
    font-size: 16px;

    @media screen and (min-width: 1600px) {
      font-size: 18px;
    }
  }

  body {
    @apply font-sans bg-body text-n-1 text-base;
    background-image: url(/assets/stars.png);
    background-position: 0 0;
    background-size: 1440px;
    overflow-x: auto;
    overflow-y: scroll;
  }

  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color-scheme: dark;

    --radius: 0.5rem;

    --orange: #fd5a1e;
    --apricot: #ffc632;
    --light-yellow: #ffe45f;

    --gradient: #ff7834;

    --background: 10 15% 5%;
    --foreground: 17 10% 98%;

    --muted: 10 15% 10%;
    --muted-foreground: 10 5% 55%;

    --border: 17 20% 18%;
    --input: 17 20% 18%;

    --primary: #ff7834;
    --primary-foreground: 17 10% 2%;

    --secondary: 17 4.8% 15%;
    --secondary-foreground: 17 9.8% 97.8%;

    --accent: 17 20% 18%;
    --accent-foreground: 17 10% 98%;

    --destructive: 0 82.8% 45%;
    --destructive-foreground: 216 9.6% 99.45%;

    --dialog: 10 20% 1%;

    --ring: #ff7834;
  }
}
